body 
{
	background-image:url('../images_admin/bg_2.png');
	
}
body.login .main-login {
margin-top: 60px;
}
body.login .logo {
padding: 20px;
text-align: center;
}
body.login .box-login {
background: #FFFFFF;
border-radius: 5px;
box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
overflow: hidden;
padding: 15px;
}
body.login .box-login h4 {
color:#7f7f7f !important;
margin:0px !important;
}
.form-login fieldset
{
	position:relative;
	color: #909090;
}

.input-icon > [class*="glyphicon-"] {
bottom: 0;
color: #909090;
display: inline-block;
font-size: 14px;
left: 5px;
line-height: 35px;
padding: 0 3px;
position: absolute;
top: 0;
z-index: 2;
}
.form-control
{
	padding-left: 24px !important ;
}
body.login .form-actions {

padding-top: 10px;
display: block;
overflow:hidden;

}
body.login a.forgot {
color: #909090;
font-size: 12px;
position: absolute;
right: 10px;
text-shadow: 1px 1px 1px #FFFFFF;
top: 67px;
}
body.login label {
color: #7F7F7F;
font-size: 14px;
}
body.login .new-account {
border-top: 1px dotted #EEEEEE;
margin-top: 18px;
padding-top: 10px;
display: block;
}