@charset "utf-8";
/* CSS Document */
.container {
max-width: none !important;
width: auto !important;
}
.main-conatiner
{
	margin-top: 52px;
}
ul.main-navigation-menu {
		list-style: none;
		margin: 0;
		padding: 0;
}
.myiconcss
{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 15px;
}
ul.main-navigation-menu li > ul.sub-menu {
	clear: both;
	list-style: none;
	margin: 8px 0;
	display: none;
	padding: 0;
}
ul.main-navigation-menu li a .glyphicon-chevron-right {
float: right;
margin-right: 6px;
font-size: 14px;
font-weight: lighter;
color:#428BCA;
}

ul.main-navigation-menu li > ul.sub-menu {
clear: both;
list-style: none;
margin: 8px 0;
display: none;
padding: 0;
}
ul.main-navigation-menu li > ul.sub-menu > li {
background: none;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 1px !important;
padding: 0;
}
ul.main-navigation-menu li > ul.sub-menu > li a{
	display:block;
	padding:5px 7px;
	text-align:left;
}
ul.main-navigation-menu li.active > ul.sub-menu {
display: block;
padding: 0;
}
ul.main-navigation-menu li.open > ul.sub-menu {
display: block;
padding: 0;
}
.navigation-toggler {
		cursor: pointer;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #555;
		line-height: 30px;
		text-align: center;
		color: #fff;
        font-size: 22px;
}
div.drop-down-wrapper {
height: 250px;
width: 270px;
overflow: hidden;
position: relative;
}
ul.taskslistmenu {
list-style: none;
margin: 0;
padding: 0;
}
.notifications_icon
{
		border-radius: 12px 12px 12px 12px !important;
		font-size: 11px !important;
		font-weight: 300;
		padding: 3px 6px;
		position: absolute;
		text-align: center;
		text-shadow: none !important;
		top: 8px;
		line-height:1;
}
.task_notofication
{
	right: 2px;
}
.main-content 
{
	margin-top: 0;
	background-color: #FFFFFF;
	padding: 0;
	min-height:760px;
}
.row
{
	margin:0px;
}
.page_header
{
	border-bottom: 1px solid #eee;
	margin: 20px 0 20px;
}
.page_header h1
{
	font-size: 36px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: 200;
	letter-spacing: -1px;
	margin: 0 0 15px;
	padding: 0;
	color: #666666;
}
.breadcrumb
{
	padding: 0PX;
	border-radius: 0;
	margin: 0 -15px;
	padding: 15px 45px 15px 15px;
	border-bottom: 1px solid #C8C7CC;
	position: relative;
	height: 51px;
	top: 0px;
	left: 0px;
}
.search-box:before {
	content: "" !important;
	padding:0px !important;
}
.dropdown-menu {
		background: none repeat scroll 0 0 white;
		border: 1px solid #C7CBD5;
		border-radius: 0 0 4px 4px;
		box-shadow: none;
		list-style: none outside none;
		margin: 0;
		max-width: 300px;
		min-width: 166px;
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 100%;
		z-index: 1000;
}
.tasksdivider
{
	margin:0px !important;
}
.todo_label
{
	float: right;
margin: 3px 0px;

}
.footer-inner {
float: left;
}
.navbar-tools > ul > li.dropdown {
	margin-left: 2px;
	margin-right: 2px;
}
.navbar-tools > ul > li {
float: left;
}
.myformcls
{
	width:80%;
	margin:5px 14px;
}
.navigation-small .navigation-toggler .glyphicon
{
	float:left;
}
.myformcls label , .manageform label
{
	display:block;
	float:none;
	clear:both;
}
.myformcls .form-control
{
	width:55%;
	float:left;	
	
}
.manageform .form-control
{
	float:left;
	width:100%;
}
.navigation-small  ul.main-navigation-menu > li > a 
{
	padding: 10px 8px;
}
.reuiredfields
{
	color:Red;
}
.myspanerror
{
float:left;	
padding: 2px 10px;
margin-top: auto;
line-height: 30px;
}
.clearfix
{
	float:none;
	clear:both;
}
.breakallword
{
	word-break: break-all;
}
.searchspan
{
	margin-top: 6px;
display: block;
}